<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <script type="text/javascript" src="/js/home/login.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <input id="id" type="text" placeholder="ID"><br>
    <input id="psword" type="text" placeholder="PW"><br>
    <button type="button" name="button">login</button>
  </body>
</html>
