<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <script type="text/javascript" src="/js/home/login.js"></script>
    <title>Document</title>
  </head>
  <body>
    <input type="text" name="" value="" placeholder="ID"><br>
    <input type="text" name="" value="" placeholder="PW"><br>
    <button type="button" name="button">login</button>
  </body>
</html>
